/*
@media screen and (max-width: 993px) {
      .header {
        font-size: 20px;
      }
    }



*/

  /*Шапка*/

  .header {
    background: #82D2F3;
    /*gap: 425px;*/
    width: 100%;
    padding: 5px 52px;
    display: inline-flex;
    align-items: center;
  }

  .header_left {
    display: flex;
align-items: center;
gap: 112px;

  }

.header_right {
  display: flex;
justify-content: flex-end;
align-items: center;
gap: 10px;
}

.logo {
  display: flex;
  padding: 5px 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border-radius: 10px;
background: rgba(255, 255, 255, 0.25);

}
.logo:hover {

}

.header_menu {
  
}


    
    

.menu_nav {
  
}

.menu_list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.menu_item:hover .menu_sub-list {
  display: flex;
}

.
/*
@media (any-hover: hover) {
  
}*/

.menu_link {

}

.menu_sub-list {
  display: none;
  
}

.menu_sub-item {

}

.menu_sub-link {

}